/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2711"; 					// indicates compability with the broadcom bcm2711 driver. Used by rpi. 
	fragment@0 { 									// This is a device tree fragment
		target-path = "/"; 							// path to where overlay will be applied
		__overlay__ {								// indicates that all following properties will be overlaid onto the base device tree.
			my_device {								// defines a new device node named "my_device".
				compatible = "brightlight,mydev";	// compatible string for device (must match driver)
				status = "okay";
				label = "Test";
				my_value = <12>;
				my_pins-gpio = <&gpio 18 0>, <&gpio 24 2>; 
			};
		};
	};
};